<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Raspberry PI</title>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <link href="{{ url_for('static', path='css/cam.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            Servidor Raspberry Pi v 0.0.1
        </header>
        <main>
            <div id="principal"> 
            <img id="frame" src="">
            </div>
        </main>
        <footer>
            <button	name="desconect"class="btnf" type="button" onclick="st.desconect();">Sair</button>
            <button name="facial" class="btnf" type="button" onclick="st.command(this);"><img class="icons" src="{{ url_for('static', path='img/face.png') }}" /></button>
        </footer>
      </div>
</footer>
     <script>st = new Streaming(id={{id}},ip_externo=`{{ip_externo}}`,port=`{{port}}`) </script>      
</body>
</html>


