<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Raspberry PI</title>
    <link href="{{ url_for('static', path='/cam.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            Servidor Raspberry Pi v 0.0.1
        </header>
        <main>
            <div id="principal"> 
            <img id="frame" src="">
            <button id="btn_dc" type="button" class="btn" onclick="st.desconect();">Desconectar</button>
            <button id="btn_dx" type="button" class="btn" onclick="st.start();">Ativar reconhecimento facial</button>
        <script>
            class Streaming {
                constructor(id) {
                  this.id = id;
                  this.ws = new WebSocket(`ws://192.168.1.21:8080/cam`);
                  this.message = ''
                  let image = document.getElementById("frame");
                  image.onload = function(){
                      URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
                  } 
                  this.ws.onmessage = function(event) {
                      image.src = URL.createObjectURL(event.data);
                      st.send();
                  };
                  this.ws.onclose = (event) => {
                    window.location.href = "/";
                  };
                }
                start(){
                    this.message = 'facial'
                }
                send(){
                    this.ws.send(this.message)
                    this.message = ''
                   }
                desconect(){
                    this.message = 'exit'
                    this.ws.close();
 

                }
                
              }

            st = new Streaming({{id}})
              
            

        </script>
            </div>
        </main>
        <footer>
          Copyright 2022
        </footer>
      </div>
</footer>
</body>
</html>


