:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background-color: #3a3a3a;
  width: 100%;
  height: 10%;
  color: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
}
main {
  flex: 1;
   width: 100%;
   height: 85%;
   display:flex;
   align-items: center;
   justify-content: center;

}
footer {
  background-color: #3a3a3a;
  height: 5%;
  color: #fff;
  display:flex;
  align-items: center;
}
h1, h2 {
  color:white;
}
#principal{
    display:flex;
    flex-direction:column;
}
#frame {
    width: 100%;
    height: 100%;
    border:solid 1px white;
}
.btn {
    width: 100%;
    background-color:white;
    height: 30px;
}

@media (max-width: 574px){
      
        #principal{
            width: 100%;
            height: 100%;
        }
      .btn {
          height: 50px;
      }

      
}

